[Unit]
Description=Node.js Example Server
After=network-online.target

[Service]
ExecStart=/usr/local/bin/node index-src.js
WorkingDirectory=/home/hwaas/hwaas-site/
User=hwaas

[Install]
WantedBy=multi-user.target